body{
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 1.6rem;
  text-align: center;
  background-color: #FFE8DF;

}

/* h1 header style */

h1{
  font-family: 'Gruppo', cursive;
  text-align: center;
  padding: 20px
}
/* main css style using inline block and box shadow */

.container {
  display: inline-block;
  width: 300px;
  margin: 5%;
  font-size: 12px;
  box-shadow: -15px 27px 53px -8px rgba(0,0,0,0.71);
  -webkit-box-shadow: -15px 27px 53px -8px rgba(0,0,0,0.71);
   -moz-box-shadow: -15px 27px 53px -8px rgba(0,0,0,0.71);
   font-family: 'Abel', sans-serif;
}

.image{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.font-size{
  font-size: 4rem;
}
